.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-bottom: 16px;
}

.row td {
    flex: 1;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.row td:first-child {
    text-align: inherit;
}

.row td:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.row input {
    width: 44px;
}

.row img {
    width: 90px;
}

.row button {
    cursor: pointer;
    background: transparent;
    border: none;
}

.row button img {
    width: 14px;
}

.amount {
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
}

.amount button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.amount button:disabled {
    cursor: not-allowed;
}